@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard', system-ui, sans-serif;
  --font-dospilgi: 'DOSPilgiMedium';
  --font-Hakgyoansim: 'HakgyoansimByeolbichhaneulTTF-B';

  /* 색상 */
  --color-navy: #272f3d;
  --color-black: #02000e;

  --color-gray-100: #34383f;
  --color-gray-200: #535353;
  --color-gray-300: #8b8e92;

  --color-white: #f7f7f8;

  --color-brand-1: #f96d69;
  --color-brand-2: #fe5493;

  /* 그라디언트 */
  --background-gradient-brand: linear-gradient(to right, #f96d69, #fe5493);

  /* 반응형 breakpoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/PretendardVariable.woff2') format('woff2');
  }

  @font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2')
      format('woff2');
  }

  html {
    font-size: 10px;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* 기본값: PC, Tablet */
  .title-text {
    @apply text-[2.4rem] font-bold; /* 24px */
  }

  .sub-title-text {
    @apply text-[2rem] font-bold; /* 20px */
  }

  .content-text {
    @apply text-[1.6rem] font-normal; /* 16px */
  }

  .sub-content-text {
    @apply text-[1.4rem] font-normal; /* 14px */
  }

  .caption-text {
    @apply text-[1.2rem] font-normal; /* 12px */
  }

  .bg-gradient-brand {
    background: var(--background-gradient-brand);
  }

  /* 모바일 */
  @media (max-width: calc(var(--breakpoint-md) - 1px)) {
    .title-text {
      @apply text-[2rem]; /* 20px */
    }

    .sub-title-text {
      @apply text-[1.6rem]; /* 16px */
    }

    .content-text {
      @apply text-[1.4rem]; /* 14px */
    }

    .caption-text {
      @apply text-[1.2rem]; /* 12px */
    }
  }

  .text-stroke-black {
    -webkit-text-stroke: 2px rgba(230, 60, 0, 0.5);
  }

  .text-stroke-white {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
}
