@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/PretendardVariable.woff2') format('woff2');
  }

  :root {
    --font-sans: 'Pretendard', system-ui, sans-serif;
  }
}
